


/*=====================================
            ALL BUTTON STYLE
======================================*/
.btn {
    border: none;
    font-size: 14px;
    font-weight: 500;
    padding: 14px 32px;
    border-radius: 8px;
    text-transform: uppercase;
    text-shadow: $primary__text__shadow;
    @include flex__center;

    &:focus {
        box-shadow: none !important;
    }

    i {
        margin-right: 8px;
    }
}

.btn-inline {
    color: $wh__color;
    background: $brand__color;

    &:hover {
        background: $brand__hover__color;
    }
}

.btn-outline {
    color: $brand__color;
    background: $wh__color;
    border: 1px solid $brand__color;

    &:hover {
        color: $wh__color;
        background: $brand__color;
    }
}

.btn-light {
    color: $icon__color;
    background: $light__color;

    &:hover {
        background: $light__hover__color;
    }
}
